<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ateam.oncare.careworker.command.mapper.TodoCommandMapper">

    <!-- 할 일 등록 -->
    <insert id="insertTodo" useGeneratedKeys="true" keyProperty="request.id">
        INSERT INTO todo_for_care_worker (
            todo,
            todo_date,
            type,
            clear_st,
            create_at,
            care_worker_id,
            beneficiary_id
        ) VALUES (
            #{request.todo},
            #{request.todoDate},
            #{request.type},
            FALSE,
            NOW(),
            (SELECT id FROM care_worker WHERE employee_id = #{careWorkerId} LIMIT 1),
            #{request.beneficiaryId}
        )
    </insert>

    <!-- 할 일 완료 체크 -->
    <update id="updateTodoComplete">
        UPDATE todo_for_care_worker
        SET clear_st = 1
        WHERE id = #{todoId}
          AND care_worker_id = (SELECT id FROM care_worker WHERE employee_id = #{employeeId} LIMIT 1)
    </update>

    <!-- 할 일 완료 취소 -->
    <update id="updateTodoUncomplete">
        UPDATE todo_for_care_worker
        SET clear_st = 0
        WHERE id = #{todoId}
          AND care_worker_id = (SELECT id FROM care_worker WHERE employee_id = #{employeeId} LIMIT 1)
    </update>

    <!-- 할 일 수정 -->
    <update id="updateTodo">
        UPDATE todo_for_care_worker
        SET todo = #{request.todo},
            todo_date = #{request.todoDate},
            type = #{request.type},
            beneficiary_id = #{request.beneficiaryId}
        WHERE id = #{todoId}
          AND care_worker_id = (SELECT id FROM care_worker WHERE employee_id = #{employeeId} LIMIT 1)
    </update>

    <!-- 할 일 삭제 -->
    <delete id="deleteTodo">
        DELETE FROM todo_for_care_worker
        WHERE id = #{todoId}
          AND care_worker_id = (SELECT id FROM care_worker WHERE employee_id = #{employeeId} LIMIT 1)
    </delete>

</mapper>
