<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ateam.oncare.careworker.command.mapper.VisitScheduleCommandMapper">

    <!-- 방문 일정 서비스 시작 (SCHEDULED → IN_PROGRESS) -->
    <update id="updateVisitStatusToInProgress">
        UPDATE visit_schedule
        SET visit_status = 'IN_PROGRESS',
            start_dt = #{actualStartTime}
        WHERE vs_id = #{vsId}
          AND visit_status = 'SCHEDULED'
    </update>

    <!-- 방문 일정 서비스 종료 (IN_PROGRESS → COMPLETED) -->
    <update id="updateVisitStatusToCompleted">
        UPDATE visit_schedule
        SET visit_status = 'DONE',
            end_dt = #{actualEndTime}
        WHERE vs_id = #{vsId}
          AND visit_status = 'IN_PROGRESS'
    </update>

    <!-- 방문 요양 일정 작성 -->
    <insert id="insertVisitSchedule">
        INSERT INTO visit_schedule (
            care_worker_id,
            beneficiary_id,
            service_type_id,
            start_dt,
            end_dt,
            visit_status,
            note,
            is_log_written
        ) VALUES (
            #{careWorkerId},
            #{request.beneficiaryId},
            #{request.serviceTypeId},
            #{request.startDt},
            #{request.endDt},
            COALESCE(#{request.visitStatus}, 'SCHEDULED'),
            #{request.note},
            FALSE
        )
    </insert>

    <!-- 방문 요양 일정 수정 -->
    <update id="updateVisitSchedule">
        UPDATE visit_schedule
        <set>
            <if test="request.beneficiaryId != null">beneficiary_id = #{request.beneficiaryId},</if>
            <if test="request.serviceTypeId != null">service_type_id = #{request.serviceTypeId},</if>
            <if test="request.startDt != null">start_dt = #{request.startDt},</if>
            <if test="request.endDt != null">end_dt = #{request.endDt},</if>
            <if test="request.visitStatus != null">visit_status = #{request.visitStatus},</if>
            <if test="request.note != null">note = #{request.note},</if>
        </set>
        WHERE vs_id = #{vsId}
    </update>

    <!-- 방문 요양 일정 삭제 -->
    <delete id="deleteVisitSchedule">
        DELETE FROM visit_schedule
        WHERE vs_id = #{vsId}
    </delete>

</mapper>
