<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ateam.oncare.careworker.command.mapper.VisitScheduleCommandMapper">

    <!-- 방문 일정 서비스 시작 (SCHEDULED → IN_PROGRESS) -->
    <update id="updateVisitStatusToInProgress">
        UPDATE visit_schedule
        SET visit_status = 'IN_PROGRESS',
            start_dt = #{actualStartTime}
        WHERE vs_id = #{vsId}
          AND visit_status = 'SCHEDULED'
    </update>

    <!-- 방문 일정 서비스 종료 (IN_PROGRESS → COMPLETED) -->
    <update id="updateVisitStatusToCompleted">
        UPDATE visit_schedule
        SET visit_status = 'DONE',
            end_dt = #{actualEndTime}
        WHERE vs_id = #{vsId}
          AND visit_status = 'IN_PROGRESS'
    </update>

</mapper>
